
@model IEnumerable<TodoList.Models.Entites.TodoItem>


<h1>Listeler</h1>
<form asp-controller="TodoItem" asp-action="Create" method="post" >

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" name="TodoId" value="@ViewBag.TodoId" />

    @*@foreach (var item in Model.Item2)
        {
            <div class="">

                <h3 title="@item.Todo.Name">@item.Todo.Name</h3>
            </div>
        }*@
    <div class="col-5">
        <b>Liste Adı</b>
        <input  type="text" class="form-control" name="name" value="" required />
        <br />
    </div>
    <div class="col-5">
        <b>Açıklama</b>
        <input type="text" class="form-control" name="description" value="" required />
        <br />
    </div>
  
    <button class="btn btn-info">Ekle</button>
</form>

<form asp-controller="TodoItem" asp-action="Index" method="post">
    @DateTime.Now.ToShortDateString()
    <table class="table">
        <tr>
            <td>#</td>
            <th>LİSTE KODU</th>
            <th>BAŞLIK</th>
            <th>LİSTE ADI</th>
            <th>AÇIKLAMA</th>
            <th>OLUŞTURMA TARİHİ</th>
            <th>Durum</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Todo.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @(  item.Status? "Tamamlandı":"Tamamlanmadı"    )
        <a asp-action="UpdateStatus" asp-controller="TodoItem" asp-route-id="@item.Id">Değiştir</a>
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Güncelle</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>|
        </td>

    </tr>
        }
    </table>
</form>
