
@model IEnumerable<TodoList.Models.Entites.TodoItem>


    <h1>Listeler</h1>
    <form asp-controller="TodoItem" asp-action="Index" method="post">
        @DateTime.Now.ToShortDateString()
        <table class="table">
            <tr>
                <th>LİSTE KODU</th>
                <th>ADI</th>
                <th>AÇIKLAMA</th>
                <th>OLUŞTURMA TARİHİ</th>
                <th>Durum</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Todo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Güncelle</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>|
            </td>
            
        </tr>
            }
        </table>
        <button  asp-action="Create"  class="btn btn-primary">Yeni Liste Ekle</button>
    </form>
