@model IEnumerable<TodoList.Models.Authentication.AppUser>
@{
    ViewData["Title"] = "Index";
}

<div colspan="3" asp-validation-summary="All"></div>
<form method="post" asp-action="UserTable" asp-controller="Login">
    <h3 class="legend">BİLGİLERİM</h3>
    <table class="table-warning">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.PasswordHash)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td>

                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PasswordHash)
                </td>
                <td>
                    <button asp-area="" asp-controller="Login" asp-action="EditUser" type="submit" class="btn btn-primary">Update</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</form>
