
@model IEnumerable<TodoList.Models.Entites.Todo>

<h1> Yapılacak İşler</h1>


@DateTime.Now.ToShortDateString()
<table class="table">


    <tr>

        <th>
            KOD
        </th>
        <th>
            BAŞLIK
        </th>

        <th>
            OLUŞTURMA TARİHİ
        </th>

        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    <div class="col-+ col-12-small">
                        <input type="checkbox" class="done-checkbox"><br />
                        <input type="radio" id="demo-priority-high" name="demo-priority">
                        <label for="demo-priority-high">Tamamlandı</label>
                    </div>
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <input type="checkbox" checked="@item.Id" onclick="window.location.href = '/Todo/Edit/@item.Id';" />
                <a href="/Todo/Edit/@item.Id">
                    @item.Name
                </a>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>

                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="CreateList" asp-route-id="@item.Id">Liste ekle</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>

        </tr>
    }

</table>
